<h1><%= @game.player_2.name %> has attacked!</h1>
<h1><%= @game.player_2.name %> has now got <%= @game.player_2.hp %>HP!</h1>
<h1><%= @game.player_1.name %> has now got <%= @game.player_1.hp %>HP!</h1>
<FORM METHOD="Link" ACTION="/play">
<INPUT TYPE="submit" VALUE="Continue battle" >
</FORM>
