<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
<h1><%= @game.player_1.name %>'s Hitpoints = <%= @game.player_1.hp %></h1>
<h1><%= @game.player_2.name %>'s Hitpoints = <%= @game.player_2.hp %></h1>

<FORM METHOD="Link" ACTION="/attack">
<INPUT TYPE="submit" VALUE="Attack">
</FORM>
